nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f56464;
    padding: 10px; 
}

.unordered-list-nav {
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unordered-li {
 color: #000000;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Bodoni MT";
}

.list-image {

align-self: flex-end;

}

a {
color: #000000;
font-size: 20px;
font-weight: bold;
text-decoration: none;
cursor: pointer;

}

.nav-bar-image {

width: 20px;

cursor: pointer;

align-self: flex-start;

}

.top-section-container {

background-image: linear-gradient(to right, #f7e9a8, #f58cee);

display: flex;

}
.top-text-container{
    width:50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Arial";
}

.top-section-heading {
    font-size: 40px;
    width: 100%;
    }
    
    
.top-section-message {
    font-size: 13px;  
    }
    
.click-me-button {
    
    width: 40%;
    
    background-color: #f56464;
    
    border: 0;
    
    outline: none;
    
    color: #fff;
    
    padding: 8px 0px;
    
    font-size: 12px;
    
    font-family: "candara light";
    }


.top-image-container { 
        width: 50%;
}
   
    
.top-section-image {
    height: 100%;
    width: 100%;
    }
    
nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f56464;
    padding: 10px; 
}

.unordered-list-nav {
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.unordered-li {
 color: #000000;
    margin-right: 10px;
    text-decoration: none;
    font-family: "Bodoni MT";
}

.list-image {

align-self: flex-end;

}

a {
color: #000000;
font-size: 20px;
font-weight: bold;
text-decoration: none;
cursor: pointer;

}

.nav-bar-image {

width: 20px;

cursor: pointer;

align-self: flex-start;

}

.top-section-container {

background-image: linear-gradient(to right, #f7e9a8, #f58cee);

display: flex;

}
.top-text-container{
    width:50%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Arial";
}

.top-section-heading {
    font-size: 40px;
    width: 100%;
    }
    
    
.top-section-message {
    font-size: 13px;  
    }
    
.click-me-button {
    
    width: 40%;
    
    background-color: #f56464;
    
    border: 0;
    
    outline: none;
    
    color: #fff;
    
    padding: 8px 0px;
    
    font-size: 12px;
    
    font-family: "candara light";
    }


.top-image-container { 
        width: 50%;
}
   
    
.top-section-image {
    height: 100%;
    width: 100%;
    }
    
.bottom-section-container {
    background-image: linear-gradient(to right, #f7e9a8, #f58cee);
    padding: 5%;
    display: flex;
    align-items: center; 
    width: 90%; 
    justify-content: space-between;
}
.bottom-section-images-container {
    width: 50%;
    display: flex;
}
    
.bottom-section-two-images {  
    display: flex; 
    flex-direction: column;
    margin-right: 20px;
}
    
.image-1 {
min-width: 150px;
max-width: 350px;
margin-bottom: 10px;
max-height: 200px;  
}
.bottom-section-height-image {
    
    width: 50%;
    height: 410px;
    }
    
    
    
.bottom-section-text-container {

    background-color: #f56464;
    
    padding: 5%;
    
    width: 20%;
    
    font-family: "Arial";
    
}
    
.bottom-seciton-small-heading {
    
    margin-bottom: 10px;
    
    font-size: 10px;
    
}
    
.bottom-section-heading {
    
    font-size: 30px;
    
    margin-bottom: 10px;
    
    }

.click-heading {

        font-size: 10px;
        
}
        
.right-arrow-image {
        
        width: 20px;
        margin-left: 5px;
        
}
        
@media screen and (max-width: 576px) {
        
        .unordered-list-nav {
        
        flex-direction: column;
        
        }
        
        .unordered-li {
        
        display: none;
        
        }
        
        .top-section-container {
        
        flex-direction: column;
    }
 .top-text-container {

width: 96%;

order: 2;}

.top-section-message {

margin-bottom: 20px;

}

.top-section-heading {

margin-bottom: 10px;}

.top-image-container {
width: 100%;

order: 1;}

.list-image {

align-content: flex-end;

}

.bottom-section-container {

    flex-direction: column;
    
    }
    
    .bottom-section-images-container {
    
    width: 100%;
    
    justify-content: center;
    
    }
    
    .image-1 {
    
    width: 100%;
    
    }
    
    .bottom-section-text-container{ 
        width: 90%;
        margin-top: 20px;
    }
}
        
@media screen and (max-width: 576px) {
        
        .unordered-list-nav {
        
        flex-direction: column;
        
        }
        
        .unordered-li {
        
        display: none;
        
        }
        
        .top-section-container {
        
        flex-direction: column;
    }
 .top-text-container {

width: 96%;

order: 2;}

.top-section-message {

margin-bottom: 20px;

}

.top-section-heading {

margin-bottom: 10px;}

.top-image-container {
width: 100%;

order: 1;}

.list-image {

align-content: flex-end;

}

.bottom-section-container {

    flex-direction: column;
    
    }
    
    .bottom-section-images-container {
    
    width: 100%;
    
    justify-content: center;
    
    }
    
    .image-1 {
    
    width: 100%;
    
    }
    
    .bottom-section-text-container{ 
        width: 90%;
        margin-top: 20px;
    }
}